@use "../../scss/helpers/import" as *;

.component {
  position: relative;
  height: 100vh;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    background-repeat: no-repeat;
    background-position: top, bottom, left, right;
    background-size:
      100% 15%,
      100% 15%,
      15% 100%,
      15% 100%;
    @include scroll-animation($anim: fadeIn, $speed: 1000ms);
    transition-delay: 1000ms;
    pointer-events: none;
  }
  .dark & {
    &::after {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        ),
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        ),
        linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        ),
        linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      background-repeat: no-repeat;
      background-position: top, bottom, left, right;
      background-size:
        100% 15%,
        100% 15%,
        15% 100%,
        15% 100%;
    }
  }
}

.logo {
  width: 25%;
  height: 25%;
  position: absolute;
  top: calc(50% - 12.5%);
  left: calc(50% - 12.5%);
  z-index: 5;
  pointer-events: none;
  @include scroll-animation(
    $anim: popIn,
    $sequence: 100ms,
    $speed: 500ms,
    $delay: 0ms
  );
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  cursor: pointer;
  @include scroll-animation(
    $anim: popIn,
    $sequence: 100ms,
    $speed: 500ms,
    $delay: 250ms
  );
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: 4;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s $ease-out-quint;
  }
  &_wrapper {
    position: relative;
    overflow: hidden;
    &:hover .galleryImage::after {
      opacity: 0.8;
    }
    &:not(:hover) {
      .galleryImage_text {
        transform: translateY(100%);
      }
    }
    &:hover {
      .galleryImage_text {
        transform: translateY(0);
      }
    }
  }
  &_title {
    position: absolute;
    color: $black;
    z-index: 5;
    width: 100%;
    top: calc(50% - 50px);
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
  }
  &_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 12.5%;
    background-color: rgba($color: $white, $alpha: 0.5);
    z-index: 1;
    transform: translateY(100%);
    transition: all 0.3s $ease-out-quint;
    color: $white;
    cursor: pointer;
    & > h4 {
      margin: 0 0 10px 0;
    }
    & > * {
      color: $black;
    }
  }
  .dark & {
    &::after {
      background: $black;
    }
    &_text {
      background-color: rgba($color: $black, $alpha: 0.5);
      color: $white;
    }
  }
}
