@use "../../scss/helpers/import" as *;

.component {
  width: 100%;
  background-color: $white;
  &.dark {
    background-color: $black;
  }
}

.wrapper {
  @include centered($max-width);
  margin: {
    top: 0;
    bottom: 0;
  }
  padding: $standard-vertical-spacing 0;
  h4 {
    margin-bottom: 0;
    @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms);
  }
  p {
    @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms);
  }
  @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms);
}

.richtext > * {
  color: $black;
  .dark & {
    color: $white;
  }
}