@use "../../scss/helpers/import" as *;

$slide-gap-start: 30px;
$slide-gap-mobile-1: calc(#{$slide-gap-start} * 0.5);
$slide-gap-mobile-2: calc(#{$slide-gap-start} * 0.5);

.component {
  :global(.slick-track) {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    height: max-content;
  }

  :global(.slick-slide) {
    display: flex !important;
    height: auto;
    padding: 0 calc(#{$slide-gap-start} / 2);
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  :global(.slick-list) {
    left: calc($slide-gap-start / -2);
  }

  @include responsive(lg) {
    :global(.slick-slide) {
      padding: 0 calc(#{$slide-gap-mobile-1} / 2);
    }
    :global(.slick-list) {
      left: calc($slide-gap-mobile-1 / -2);
    }
  }

  @include responsive(sm) {
    padding: 0;
    :global(.slick-slide) {
      padding: 0 calc(#{$slide-gap-mobile-2} / 2);
    }
    :global(.slick-list) {
      left: calc($slide-gap-mobile-2 / -2);
    }
  }
}

.wrapper {
  @include centered($max-width);
  & {
    margin: {
      top: $standard-vertical-spacing;
      bottom: $standard-vertical-spacing;
    }
  }
  display: flex;
  flex-direction: column;
  gap: 30px;
  h3 {
    text-align: center;
    margin: 0;
  }
  @include scroll-animation(
    $anim: fromTop,
    $sequence: 200ms,
    $speed: 1000ms,
    $delay: 250ms
  );
  @include responsive(md) {
    h3{
      text-align: left;
    }
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.logo {
  display: flex !important;
  position: relative;
  width: calc(100% / 5);
  // min-width: 200px;
  height: 100px;
  display: block;
}
