@use "../../scss/helpers/import" as *;

.component {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @include responsive(md) {
    flex-direction: column;
  }
}

.map {
  position: relative;
  width: 60%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include scroll-animation(
    $anim: fromTop,
    $delay: 300ms,
    $sequence: 60ms,
    $speed: 1000ms
  );
  @include responsive(md) {
    width: 100%;
    height: 100%;
  }
}

.pin {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform-origin: bottom center;
  transform: translateY(-30px);
  opacity: 0;

  [data-in-view="true"] & {
    transform: scale(0.8) translateY(0);
    opacity: 1;
    transition: all 0.5s $ease-out-quint;
  }
  [data-in-view="false"] & {
    transition-delay: 0 !important;
  }
  
  &.isActive {
    transform: scaleX(-1) scale(1.2);
    z-index: 99;
    transition-delay: 150ms !important;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: $white;
  }
  &_az {
    @extend .pin;
    top: calc(59% - 25px);
    left: calc(21% - 25px);
  }
  &_desMoines {
    @extend .pin;
    top: calc(31% - 25px);
    left: calc(54% - 25px);
  }
  &_lincoln {
    @extend .pin;
    top: calc(33% - 25px);
    left: calc(43% - 25px);
  }
  &_nc {
    @extend .pin;
    top: calc(49% - 25px);
    left: calc(82% - 25px);
  }
  &_nh {
    @extend .pin;
    top: calc(16% - 25px);
    left: calc(90% - 25px);
  }
  &_omaha {
    @extend .pin;
    top: calc(31% - 25px);
    left: calc(49% - 25px);
  }
  &_stc {
    @extend .pin;
    top: calc(18% - 25px);
    left: calc(52% - 25px);
  }
  &_tx {
    @extend .pin;
    top: calc(73% - 25px);
    left: calc(49% - 25px);
  }
  &_kampala {
    @extend .pin;
    top: calc(59% - 25px);
    left: calc(54% - 25px);
  }
  @include responsive(md) {
    height: 40px;
    &_az {
      top: calc(59% - 20px);
    }
    &_desMoines {
      top: calc(31% - 20px);
    }
    &_lincoln {
      top: calc(33% - 20px);
    }
    &_nc {
      top: calc(49% - 20px);
    }
    &_nh {
      top: calc(16% - 20px);
    }
    &_omaha {
      top: calc(31% - 20px);
    }
    &_stc {
      top: calc(18% - 20px);
    }
    &_tx {
      top: calc(73% - 20px);
    }
    &_kampala {
      top: calc(59% - 20px);
    }
  }
  @include responsive(sm) {
    height: 30px;
    &_az {
      top: calc(59% - 15px);
    }
    &_desMoines {
      top: calc(31% - 15px);
    }
    &_lincoln {
      top: calc(33% - 15px);
    }
    &_nc {
      top: calc(49% - 15px);
    }
    &_nh {
      top: calc(16% - 15px);
    }
    &_omaha {
      top: calc(31% - 15px);
    }
    &_stc {
      top: calc(18% - 15px);
    }
    &_tx {
      top: calc(73% - 15px);
    }
    &_kampala {
      top: calc(59% - 15px);
    }
  }
  @include responsive(xs) {
    height: 20px;
    &_az {
      top: calc(59% - 10px);
    }
    &_desMoines {
      top: calc(31% - 10px);
    }
    &_lincoln {
      top: calc(33% - 10px);
    }
    &_nc {
      top: calc(49% - 10px);
    }
    &_nh {
      top: calc(16% - 10px);
    }
    &_omaha {
      top: calc(31% - 10px);
    }
    &_stc {
      top: calc(18% - 10px);
    }
    &_tx {
      top: calc(73% - 10px);
    }
    &_kampala {
      top: calc(59% - 10px);
    }
  }
}

.list {
  padding: 0;
  width: 40%;
  @include scroll-animation(
    $anim: fromLeft,
    $delay: 250ms,
    $sequence: 120ms,
    $speed: 1000ms
  );
  &_each {
    // text-transform: uppercase;
    @extend %h6;
    margin: 0;
    font-weight: bold;
    list-style: none;
    padding: 0 0 5px 0;
    cursor: pointer;
    &.isActive {
      color: $yellow-500;
      transition: all 0.5s $ease-out-quint 0;
    }
  }
  @include responsive(md) {
    width: 100%;
  }
}

.accordionItem {
  margin-bottom: 10px;
}

@keyframes dropPin {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
