@use '../../scss/helpers/import' as *;

.component{

}
.wrapper{
    @include centered($max-width);
    & {
        margin: {
            top: $standard-vertical-spacing;
            bottom: $standard-vertical-spacing;
        };
    }
}

// USA Map
.map {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.pin{
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 50px;

    cursor: pointer;
    transform-origin: center;
    transition: transform 0.5s $ease-out-quint 0.1s;
    &:hover {
        transform: scaleX(-1);
    }
    svg {
        width: 100%;
        height: 100%;
        fill: $white;
    }
    &_az {
        @extend .pin;
        top: calc(59% - 25px);
        left: calc(21% - 25px);
    }
    &_desMoines {
        @extend .pin;
        top: calc(32% - 25px);
        left: calc(54% - 25px);
    }
    &_lincoln {
        @extend .pin;
        top: calc(34% - 25px);
        left: calc(43% - 25px);
    }
    &_nc {
        @extend .pin;
        top: calc(50% - 25px);
        left: calc(82% - 25px);
    }
    &_nh {
        @extend .pin;
        top: calc(19% - 25px);
        left: calc(90% - 25px);
    }
    &_omaha {
        @extend .pin;
        top: calc(33% - 25px);
        left: calc(49% - 25px);
    }
    &_stc {
        @extend .pin;
        top: calc(19% - 25px);
        left: calc(52% - 25px);
    }
    &_tx {
        @extend .pin;
        top: calc(76% - 25px);
        left: calc(48% - 25px);
    }
    @include responsive (md) {
        height: 40px;
        &_az {
            top: calc(59% - 20px);
        }
        &_desMoines {
            top: calc(32% - 20px);
        }
        &_lincoln {
            top: calc(34% - 20px);
        }
        &_nc {
            top: calc(50% - 20px);
        }
        &_nh {
            top: calc(19% - 20px);
        }
        &_omaha {
            top: calc(33% - 20px);
        }
        &_stc {
            top: calc(19% - 20px);
        }
        &_tx {
            top: calc(76% - 20px);
        }
    }
    @include responsive (sm) {
        height: 30px;
        &_az {
            top: calc(59% - 15px);
        }
        &_desMoines {
            top: calc(32% - 15px);
        }
        &_lincoln {
            top: calc(34% - 15px);
        }
        &_nc {
            top: calc(50% - 15px);
        }
        &_nh {
            top: calc(19% - 15px);
        }
        &_omaha {
            top: calc(33% - 15px);
        }
        &_stc {
            top: calc(19% - 15px);
        }
        &_tx {
            top: calc(76% - 15px);
        }
    }
    @include responsive (xs) {
        height: 20px;
        &_az {
            top: calc(59% - 12.5px);
        }
        &_desMoines {
            top: calc(32% - 12.5px);
        }
        &_lincoln {
            top: calc(34% - 12.5px);
        }
        &_nc {
            top: calc(50% - 12.5px);
        }
        &_nh {
            top: calc(19% - 12.5px);
        }
        &_omaha {
            top: calc(33% - 12.5px);
        }
        &_stc {
            top: calc(19% - 12.5px);
        }
        &_tx {
            top: calc(76% - 12.5px);
        }
    }
}