@use '../../scss/helpers/import' as *;

.component{

}
.wrapper{
    @include centered($max-width);
    & {
        margin: {
            top: $standard-vertical-spacing;
            bottom: $standard-vertical-spacing;
        };
    }
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px
}

.tab {
    @extend %h4;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        top: calc(100% - 3px);
        background-color: $yellow-500;
        position: absolute;
        transform: translateY(10px);
        opacity: 0;
        transition: all 0.5s $ease-out-quint;
    }
    &.isActive {
        color: $yellow-500;
        &::after {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &:hover {
        color: $yellow-500;
        &::after {
            opacity: 1;
            transform: translateY(0);
        }
    }
}